<!-- TEAM START -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="fancy"><span>Team</span></p>
      </div>
      <div class="desc col-xs-12 col-sm-6 col-sm-offset-3 intro">
        <h2>The Fantastic Four.</h2>
        <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. And these 4 people have been fighting that tyranny.</p>
      </div>
    </div>
    <!-- TEAM ROW 1 START -->
    <div class="row">
      <!-- TEAM MEMBER START: copy paste the section below to add more team membes -->
      <div class="person col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0" style="background-image: url('images/team-1.jpg');">
        <div class="info">
          <h4>James T. Kirk</h4>
          <p>James is the founder of our small agency. He is the force behind all the creativity that happens here.</p>
          <ul class="list-inline">
            <li><a><i class="ion-social-twitter"></i></a></li>
            <li><a><i class="ion-social-facebook"></i></a></li>
            <li><a><i class="ion-social-linkedin"></i></a></li>
            <li><a><i class="ion-social-googleplus"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- TEAM MEMBER END -->
      <div class="person col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0" style="background-image: url('images/team-4.jpg');">
        <div class="info">
          <h4>Cat Woman</h4>
          <p>Cat is the woman responsible for most of the graphic design. She is also a famous superheroine by night.</p>
          <ul class="list-inline">
            <li><a><i class="ion-social-facebook"></i></a></li>
            <li><a><i class="ion-social-linkedin"></i></a></li>
            <li><a><i class="ion-social-googleplus"></i></a></li>
            <li><a><i class="ion-social-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="person col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0" style="background-image: url('images/team-2.jpg');">
        <div class="info">
          <h4>Dick Grayson</h4>
          <p>Dick is the best developer out there. His skills are unmatched and the stuff he does is simply amazing.</p>
          <ul class="list-inline">
            <li><a><i class="ion-social-facebook"></i></a></li>
            <li><a><i class="ion-social-linkedin"></i></a></li>
            <li><a><i class="ion-social-googleplus"></i></a></li>
            <li><a><i class="ion-social-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- TEAM ROW 1 END -->
    <!-- TEAM ROW 2 START -->
    <div class="row">
      <div class="person col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0" style="background-image: url('images/team-3.jpg');">
        <div class="info">
          <h4>Masterchef World</h4>
          <p>Masterchef is the inhouse gourmet chef. His skills are unmatched and what he does is simply amazing.</p>
          <ul class="list-inline">
            <li><a><i class="ion-social-facebook"></i></a></li>
            <li><a><i class="ion-social-linkedin"></i></a></li>
            <li><a><i class="ion-social-googleplus"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="person col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
        <div class="info">
          <h4>We are hiring!</h4>
          <p>Join us and explore the world! Drop an email at <a>joinus@panoview.theme</a></p>
          <ul class="list-inline">
            <li><i class="ion-ios7-plus-empty text-muted" style="font-size: 200px"></i></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- TEAM ROW 2 END -->
  </div>
</section>
<!-- TEAM END -->
